/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Body part css  */

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.container{
    width: 1200px;
    margin: auto;
}
/* Header Are css  */
header{
    background: rgba(255, 144, 14, 0.10);
    padding-bottom: 20px;
   
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding:20px 25px;
    border: 0px;
    color: #fff;
    font-size: 1.25rem;
    font-family: 'Work Sans';
    cursor: pointer;
    margin: 25px 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width:862px;
    margin:auto;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700px;
    color: #131313;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
nav li a {
    text-decoration: none;
    color:#424242;
}
.banner-title{
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}
.banner-description{
    color: var(--dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.banner-image{
    width: 100%;
}
.banner-image img{
    width: 100%;
}

.terms-wrapper{
    display: flex;
    justify-content: space-between;
}
/* .terms-image-container img{
    width: 49%;
} */
.terms-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    margin-right: 40px;
}
section.terms-container {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.terms-content-title{
    font-size: 3.25rem;
    margin: 0;
}
.future{
    color: #FF900E;
}
.future-wrapper{
    display: flex;
}
.future-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
}
.future-image img{
    width: 100%;
}
.future-left-content {
    width: 40%;
}
.future-image {
    width: 45%;
}
.future-box-wrapper {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 10px 20px;
    margin-bottom: 15px;
}
h4.future-box-title {
    margin: 0;
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p.future-box-description {
    margin-top: 10px;
}
h3.future-title {
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding: 0px 25px;
    position: relative;
}
h3.future-title::before{
    content: "";
    background: #FF900E;
    width: 5px;
    height: 106px;
    display: inline-block;
    position: absolute;
    left: 0;
}
p.future-description {
    color: var(--dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
section#future {
    padding: 50px 0px;
}
.experience{
    position: absolute;
    bottom: 0px;
    right: 400px;
}
.experience {
    border-radius: 8px;
    background: #FF900E;
    padding: 30px 55px;
}
.experience-title{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}
.experience-description{
    margin: 0;
    color: #fff;
    text-align: center;
}
.some-box-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.some-effect-box {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.box-icon img {
    width: 100%;
}

h2.effect-box-text {
    margin: 7px 0;
    padding: 0;
}

h3.effect-box-head {
    margin: 10px 0;
}










/* Media Query max width 576px  */
@media screen and (max-width:576px){
    .container{
        width: 95%;
    }
    .banner{
        width: unset;
        padding: 0px 10px;
    }
    .banner-title{
        font-size: 50px;
    }
    nav{
        flex-direction: column;
    }
    .terms-image-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: auto;
    }
    section.terms-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .terms-content{
        padding: 0px 40px;
    }
    .future{
        color: #FF900E;
    }
    .future-wrapper{
       flex-direction: column;
    }
    .future-left-content{
        width: 95%;
        margin:auto;
    }
    .future-image{
        width: 100%;
    }
    .experience{
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%,-50%);
        right: 0;
        padding: 15px 0px;
    }
}

/* Media query max width 768px  */
@media screen and (min-width:577px) and (max-width:768px){
    .container{
        width: 95%;
    }
    .banner{
        width: unset;
        padding: 0px 10px;
    }
    .banner-title{
        font-size: 50px;
    }
    nav{
        flex-direction: column;
    }
    .future{
        color: #FF900E;
    }
    
}